@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  background-image: url(/victor.png);
  backface-visibility: hidden;
}

.Hero-overlay {
  padding-top: 30px;
}
.Hero {
  height: 1080px;
  display: flex;
  flex-direction: column;
  padding-left: 150px;
  padding-right: 48px;
  position: relative;
  gap: 5px;
  background-image: url(/phone.png);
  background-size: cover;
  background-position: center;
  padding-top: 198px;
}
.button-nav {
  width: 90px;
  border-radius: 10px;
  background-color: rgba(121, 51, 255, 1);
  height: 40px;
  color: white;
  font-size: larger;
  font-weight: 500;
}
.bg-img {
  object-fit: cover;
  z-index: -5;
  width: 1920px;
  height: 1080px;
  top: -13594px;
  left: -9742px;
}
.hero-content {
  width: 100%;
}
h1 {
  color: aliceblue;
  font-size: 62px;
  font-weight: 900;
  padding-right: 100px;
  line-height: 88px;
}
.text-title {
  color: aliceblue;
  font-size: 26px;
  font-weight: 400;
  padding-top: 30px;
}
.button-go {
  display: flex;
  background-color: rgba(121, 51, 255, 1);
  width: 338px;
  justify-content: center;
  padding: 24px 50px;
  border-radius: 20px;
}
.Aside {
  flex: 1;
}
.container {
  display: flex;
  height: 996px;
  background-image: url(/bgg.png);
  background-size: cover;
  background-position: center;
  padding-bottom: 100px;
  padding-left: 200px;
}
.button-g {
  background-color: rgba(121, 51, 255, 1);
  width: 200px;
  justify-content: center;
  padding: 24px 50px;
  border-radius: 20px;
  color: aliceblue;
}
.bigPro {
  height: 2700px;
  background-image: url(/bgpro.png);
  background-size: cover;
  background-position: center;
  padding-bottom: 300px;
  background-size: cover;
}
