@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-img-center: no-repeat center/cover;
}
main {
  background-image: url(/victor.png);
}
.hero {
  background-image: url(/phone.png);
  background-position: center;
  background-size: cover;
  gap: 100px;
  height: 50rem;
}
.navbar {
  display: flex;
  align-items: center;
}
.button-nav {
  width: 90px;
  border-radius: 10px;
  background-color: rgba(121, 51, 255, 1);
  height: 40px;
  color: white;
  font-size: larger;
  font-weight: 500;
}
.bg-img {
  object-fit: cover;
  z-index: -5;
  width: 1920px;
  height: 1080px;
  top: -13594px;
  left: -9742px;
}
.hero-content {
  width: 100%;
}
h1 {
  color: aliceblue;
  font-size: 62px;
  font-weight: 900;
  padding-right: 100px;
  line-height: 88px;
}
.text-title {
  color: aliceblue;
  font-size: 26px;
  font-weight: 400;
  padding-top: 30px;
}
.button-go {
  display: flex;
  background-color: rgba(121, 51, 255, 1);
  width: 338px;
  justify-content: center;
  padding: 24px 50px;
  border-radius: 20px;
  align-items: center;
  gap: 40px;
}

.container {
  background-image: url(/bgg.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
}
.button-g {
  background-color: rgba(121, 51, 255, 1);
  width: 15rem;
  justify-content: center;
  padding: 24px 50px;
  border-radius: 20px;
  color: aliceblue;
}
.bigPro {
  background-image: url(/bgpro.png);
  background-size: cover;
  background-position: center;
  height: 1700px;
  display: flex;
  flex-direction: column;
  gap: 200px;
}
.section4 {
  background-image: url(/smallpro.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: 200px;
}
